.status:hover{
    background-color: #f0f5f5;
}
.status{
    cursor: pointer;
    display: block;
    word-wrap: break-word;
}
.statusContainer{
    position: relative;
    word-wrap: break-word;
}
.statusWrap{
    word-break: break-word;
}
.changeStatusContainer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fafbfc;
    padding: 15px;
    border: 1px solid #d3d9de;
    z-index: 999;
}
.inputStatus{
    width: 280px;
    margin-bottom: 10px;
    padding-right: 30px;

}
.saveButton{
    width: 50px;
    height: 24px;
    cursor: pointer;
    background: none repeat scroll 0 0 transparent;
    background-color: rgb(17, 6, 49);
    color: #fff;
    border: medium none;
    border-spacing: 0;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    display: block;
    cursor: pointer;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
    border-radius: 2px;
    margin-left: auto;
}
.buttomEmoji{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 25px;
    width: 20px;
    height: 20px;
    background: url(../../../../img/icon-smile-picker.png) no-repeat;
    background-size: cover;
}
.emojiPicker{
    position: absolute; 
    bottom: 0px;
    right: 20px;
    
}

@media only screen and (max-width: 590px){
    .inputStatus{
        width: 100%;
        margin-bottom: 10px;
        padding-right: 30px;
    
    }
    .status{
        font-size: 14px;
        
    }
    .statusWrap{
        font-size: 12px;
    }
    input[name='login'],
    input[name='password']{
        width: 100%;
    }
    .buttonLogin{
        padding: 4px 8px 4px;
    }
}