.messages {
    display: grid;
    grid-template-columns: 8fr 4fr;
    height: 100%;
}

.dialog {
    background-color: #ffffff;
    border-right: 1px solid #EBEBEB;
    height: 100%;
}

.dialogItems {
    background-color: #ffffff;
}

.dialogHead {
    border-bottom: 1px solid #EBEBEB;
    min-height: 8%;
    display: flex;
    align-items: center;
}

.dialogBody {
    padding: 50px;
}

.messageOut {
    margin-left: auto;
    background-color: #E3EFFF;
}

.messagesFill {
    padding: 20px;
}

.formContainer {
    width: 100%;
    background: #fafbfc;

}
.messagesMobile .formContainer{
   height: 25%;
}
form {
    height: 100%;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.avatarContainer {
    margin-left: 20px;
}

.name {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

.dialogHead a {
    text-decoration: none;
    color: #454545;
}

.formContainer {
    position: relative;
}

form div {
    height: 100%;
}

.formContainer textarea {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    border-top: 1px solid #EBEBEB;
    padding: 20px 60px 0px 20px;
    padding-right: 80px;
    font-size: 16px;
    font-weight: 500px;
    font-family: inherit;
    height: 100%;
    padding-right: 100px;
}

.buttonForm {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    display: block;
    cursor: pointer;
    top: 25px;
    right: 25px;
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../../../img/send-arrow.png) no-repeat;
    background-size: cover;
    outline: none;
}

.emptyMessages {
    background-color: #ffffff;
    height: 100%;
    border-right: 1px solid #EBEBEB;
    display: flex;
    flex-direction: column;
}

.selectDialog {
    margin: 0 auto;
    color: #929eb0;
    font-size: 20px;
    position: relative;
}

.iconMessage {
    background: url(../../../img/empty_icon.png) no-repeat;
    background-size: cover;
    width: 135px;
    height: 130px;
    margin: 0 auto;
    margin-top: 300px;
}

.dialogSearch {
    border-bottom: 1px solid #EBEBEB;
    min-height: 8%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dialogSearch::after {
    content: '';
    position: absolute;
    background: url(../../../img/search.png);
    width: 32px;
    height: 32px;
    left: 10px;
}

.searchInput {
    display: block;
    padding-left: 50px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}

.emojiPicker {
    position: absolute;
    top: 0;
    right: 0;
}

.buttomEmoji {
    position: absolute;
    top: 25px;
    right: 80px;
    cursor: pointer;
    font-size: 25px;
    width: 30px;
    height: 30px;
    background: url(../../../img/icon-smile-picker.png) no-repeat;
}

.emojyPicker {
    position: absolute;
    top: 0;
}



.messagesMobile .dialog {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

.newChat {
    height: 67%;
    display: flex;
}

.emptyChatText {
    margin: 200px auto;
    color: #939393;
    font-size: 15px;
}

.arrowBack {
    display: none;
}

@media only screen and (max-width: 790px) {
    .formContainer {
        height: 35%;
    }
    .buttonForm{
        width: 20px;
        height: 20px;
        top: 20px;
    }
    .buttomEmoji {
        position: absolute;
        top: 20px;
        right: 80px;
      
        width: 20px;
        height: 20px;
        background-size: cover;
    }
    
    .dialogSearch {
        font-size: 15px;
    }
    .arrowBack {
        display: block;
        width: 16px;
        height: 16px;
        background: url(../../../img/left-arrow.png) no-repeat;
        margin-left: auto;
        margin-right: 30px;
    }
    .name {
        font-size: 17px;
    }
    
    
}