.message{
    width: 65%;
    margin-bottom: 40px;
    background-color: #F4F4F4;
    padding: 25px;
    border-radius: 15px;
    white-space: pre-wrap;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    font-size: 14px;
    position: relative;
    line-height: 1.5;
}
.messageRight{
    background-color: #E3EFFF;
}

.messageContainer{
    display: flex;
}
.time{
    padding-top: 10px;
    font-size: 13px;
    color: rgba(69, 69, 69, .7)
}
.timeRight{
    margin-left: auto;
    margin-right: 20px;
}
.timeLeft{
    margin-left: 20px;
}
@media only screen and (max-width: 540px){
    .message{
        font-size: 12px;
        margin-bottom: 15px;
        padding: 15px;
    }
    .time{
        font-size: 11px;
    }
  }