.menuContainer{
    margin-left: 80px;
}
.logo{
    margin-top: 58px;
   
    display: inline-block;
  }
.navBar {
    margin-top: 50px;
    
  }
.menu a {
    text-decoration: none;
    color: rgba(69,69,69,.7);
    font-size: 18px;
}
.menu{
    list-style-type: none;
    padding: 0;
}
.menu li{
    margin-bottom: 30px;
    margin-left: 35px;
    position: relative;
}
.headList{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
    display: inline-block;
}
  
.news a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url(../../img/news-menu.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 20px;
}
.messages a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url(../../img/messages-menu.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 20px;
}
.friends a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url(../../img/friends-menu.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 20px;
}
.communities a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url(../../img/group-menu.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 20px;
}
.events a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url(../../img/event-menu.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 20px;
}
.pages a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url(../../img/pages-menu.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 20px;
}
.manage a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url(../../img/manage-menu.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 20px;
}
.shortcuts{
    padding: 0;
    list-style: none;
    margin-top: 65px;
}
.shortcuts li{
    position: relative;
    margin-bottom: 30px;
    margin-left: 35px;
}
.shortcuts a{
    text-decoration: none;
    color: rgba(69,69,69,.7);
}
.google a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url(../../img/google-logo.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 22px;
}
.combinator a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url(../../img/combinator-logo.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 22px;
}
.amazon a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    background-image: url(../../img/amazon-logo.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 22px;
}
a.active{
    color: black;
}
@media only screen and (max-width: 1240px){
    .menuContainer{
        margin-left: 50px;
    }
    
  }
  @media only screen and (max-width: 1240px){
    .menuContainer{
        margin-left: 50px;
    }
    
  }
  @media only screen and (max-width: 940px){
    .menuContainer{
        margin-left: 10px;
        font-size: 0;
        width: 0;
    }
    .menu{
        align-items: center;
    }
    .menu a {
        text-decoration: none;
        color: rgba(69,69,69,.7);
        font-size: 14px;
        font-size: 0;
    }
    .headList{
        font-size: 14px;
        font-size: 0;
        
    }
    .menu li{
        margin-bottom: 50px;
        
    }
    .imgLogo{
        width: 40px;
        height: 40px;
    }
    .navBar {
        margin-top: 20px;
        
      }
      .shortcuts{
          display: none;
      }
      .menu a {
          margin: 0 auto;
      }
      a::before{
     
        left: -25px !important;
    }
   
  }
  @media only screen and (max-width: 790px){
    .menuContainer{
        margin-left: 5px;
    }
  }