.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #3C5A99;
    
    color: #ffffff;
    z-index: 100;
    height: 8vh;
    display: flex;
    align-items: center;
    padding-left: 65px;
}
.avatar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.login{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position: relative;
    
}
.you{
    font-size: 15px;
    color: rgba(255,255,255,.6)
}
.authBlock{
    display: flex;

}
.authLogin{
    font-size: 20px;
    font-weight: semi-bold;
    margin-bottom: 5px;
    position: relative;
}
.arrowMenu{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(../../img/arrow-down.png) no-repeat;
    position: absolute;
    background-size: cover;
    right: -25px;
    top: 5px;
    transform: rotate(180deg);
}

.menuContainer:hover .authMenu{
    display: block
}
.authMenu{
    display: none;
    position: absolute;
    top: -55px;
    right: -100px;
    background-color: #fff;
    border: 1px solid #c5d0db;
    width: 100px;
    height: 60px;
    color: #2a5885;
    border-radius: 4px;
    cursor: pointer;
}
.authMenu a{
    text-decoration: none;
    color: #2a5885;
}
.authMenu div:hover{
    background-color: #f0f2f5;
}
@media only screen and (max-width: 540px){
    .itemMenu{
        height: 50%;
    }
    .avatar{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    .authLogin{
        font-size: 14px;
    }
    .you{
        font-size: 11.5px;
    }
  }
  @media only screen and (max-width: 440px){
    .avatar{
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    .authMenu{
       
        height: 60px;
    }
  }