.itemPost{
    margin-top: 30px;
    background-color: #FFFFFF;
    padding: 20px;
    padding-bottom: 10px;
    max-width: 100%;
    min-height: 100px;
    position: relative;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-radius: 4px;
}
.postsContainer textarea{ 
    resize: none;
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
    height: 80px;
    padding: 10px;
    padding-right: 45px;
    border-radius: 4px;
 }
 .buttonPost{
     display: block;
 }
 .postFooter{
    border-top: 1.5px solid #EBEBEB;
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    margin-top: 20px;
 }
 .likes{
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Elike_outline_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9a6.46%2C6.46%2C0%2C0%2C1%2C5%2C2.54A6.46%2C6.46%2C0%2C0%2C1%2C17%2C2.9ZM7%2C4.7A4.63%2C4.63%2C0%2C0%2C0%2C2.4%2C9.33c0%2C2.82%2C1.15%2C4.26%2C6.76%2C8.63l2.78%2C2.16a.1.1%2C0%2C0%2C0%2C.12%2C0L14.84%2C18c5.61-4.36%2C6.76-5.8%2C6.76-8.63A4.63%2C4.63%2C0%2C0%2C0%2C17%2C4.7c-1.56%2C0-3%2C.88-4.23%2C2.73L12%2C8.5l-.74-1.07C10%2C5.58%2C8.58%2C4.7%2C7%2C4.7Z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E);
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 6px;
 }
 .likesBody{
     display: flex;
     margin-left: auto;
     margin-right: 10px;
     margin-top: 10px;
 }
 .liked{
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Elike_active_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9%2C5.7%2C5.7%2C0%2C0%2C1%2C12%2C6%2C5.7%2C5.7%2C0%2C0%2C1%2C17%2C2.9Z%22%20fill%3D%22%23ff3347%22%2F%3E%3C%2Fsvg%3E);
 }
 .likesWrapper{
     display: flex;
     cursor: pointer;
 }
 .likesCountLiked{
     color: red;
 }
 .postsContainer{
     padding: 50px;
     width: 100%;
 }
.posts{
    display: flex;
    position: relative;
  
}
 .button{
    width: 65px;
    height: 24px;
    cursor: pointer;
    background: none repeat scroll 0 0 transparent;
    background-color: #3C5A99;
    color: #fff;
    border: medium none;
    border-spacing: 0;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-top: 0px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
    border-radius: 4px;
}
.button:hover{
    background-color: rgb(55, 94, 177);
}
.formPost{
    max-width: 100%;
    position: relative;
}
.avatar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.headerPost{
    display: flex;
}
.selectSort{
    font-size: 17px;
    margin-left: 5px;
}
a{
    text-decoration: none;
}
.name{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.postBody{
    margin-top: 20px;
    white-space: pre-line;
    font-size: 18px;
    word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
}
.nameBlock{
    margin-left: 20px;
}
.menu{
    position: absolute;
    top: 20px;
    right: 40px;
    background: url(../../../img/arrow-down.png) no-repeat  ;
    background-size: cover;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.selectSort{
    margin-top: 10px;
}
.hidenMenu{
  
    display: none;
    position: absolute;
    top: 20px;
    left: -50px;
    border: 1px solid #c5d0db;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    background-color: #fff;
    color: #26589F;
    
   
}
.menu:hover .hidenMenu{
    display: block;
}
.menuItem{
    padding: 15px 10px;
    min-width: 110px;
}
.menuItem:hover{
    
    background-color: #e4eaf0;
    
}
.buttomEmoji{
    position: absolute;
    top: 52px;
    right: 20px;
    cursor: pointer;
    font-size: 25px;
    width: 20px;
    height: 20px;
    background: url(../../../img/icon-smile-picker.png) no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 590px){
    .menu{
        
        right: 10px;
        width: 12px;
        height: 12px;
    }
    .name{
        font-size: 13px;
        word-break: break-all;
    }
    .timePost{
        font-size: 10px;
        word-break: break-all;
    }
    .avatar{
        width: 30px;
        height: 30px;
    }
    .nameBlock{
        margin-left: 10px;
    }
    .postBody{
        font-size: 12px;
    }
    .postsContainer textarea{ 
        font-size: 12px;
     }
     .hidenMenu{
        font-size: 12px;
     }
        
    .likes{
        width: 15px;
        height: 15px;
    }
    .liked{

    }
    .likesCount{
        font-size: 12px;
    }
}